<div clas ="main -content">
<!-- <h2>Welcome to Adalene</h2>
<p>At Adalene, we are dedicated to providing high-quality products that enhance your lifestyle. Our goal is to bring you exceptional value through our carefully curated selection of items, all crafted with attention to detail and passion.</p> -->

<h2>Our Mission</h2>
<p>Our mission is to be a leading provider of premium products that offer not only functionality but also elegance. We strive to deliver excellence through innovation, reliability, and a commitment to customer satisfaction. Whether you are looking for the latest trends or timeless classics, Adalene is here to exceed your expectations.</p>

<h2>Meet the Team</h2>
<h3>Jane Doe – Founder & CEO</h3>
    <p>Jane founded Adalene with a vision to create a brand that stands for quality and sophistication. With over 20 years in the industry, Jane's leadership and insight drive our company's success.</p>
    <h3>John Smith – Creative Director</h3>
    <p>John brings creativity and innovation to Adalene's product design. His unique perspective ensures that our offerings are both stylish and functional.</p>
    
    <h3>Emily Johnson – Marketing Manager</h3>
    <p>Emily is responsible for crafting our brand's message and connecting with our audience. Her strategic approach to marketing helps us reach and engage with customers worldwide.</p>
    
    <h3>Michael Brown – Customer Service Lead</h3>
    <p>Michael and his team are committed to providing exceptional customer service. They are here to assist you with any inquiries and ensure a seamless shopping experience</p>
<!-- <h2>Our Values</h2>
<p>Quality</p>
<p>Customer-Centricity</p> -->
    <!-- <p>Integrity: We operate with transparency and honesty in all our business dealings.</p>
    <p>Innovation: We continuously seek to innovate and improve our products and services.</p> -->
    <h2>Get in Touch</h2>
    <p>Have questions or need assistance? Feel free to reach out to us at contact adalene.com or visit our Contact Page for more information.</p>
</div>