<div class="main-content">
    <h2>Our Mission</h2>
    <p>Our mission is to be a leading provider of premium products that offer not only functionality but also elegance. We strive to deliver excellence through innovation, reliability, and a commitment to customer satisfaction. Whether you are looking for the latest trends or timeless classics, Adalene is here to exceed your expectations.</p>

    <h2>Meet the Team</h2>

    <div class="team-member">
        <img src="assets/ab1.png" alt="JClara Wilson" class="team-image">
        <div class="team-info">
            <h3>Clara Wilson– Founder & CEO</h3>
            <p>Clara founded Adalene with a vision to create a brand that stands for quality and sophistication. With over 20 years in the industry, Jane's leadership and insight drive our company's success.</p>
        </div>
    </div>

    <div class="team-member">
        <img src="assets/ab2.png" alt="John Smith" class="team-image">
        <div class="team-info">
            <h3>John Smith – Creative Director</h3>
            <p>John brings creativity and innovation to Adalene's product design. His unique perspective ensures that our offerings are both stylish and functional.</p>
        </div>
    </div>

    <div class="team-member">
        <img src="assets/ab4.png" alt="Amelia Johnson" class="team-image">
        <div class="team-info">
            <h3>Amelia Johnson– Marketing Manager</h3>
            <p>Amelia is responsible for crafting our brand's message and connecting with our audience. Her strategic approach to marketing helps us reach and engage with customers worldwide.</p>
        </div>
    </div>

    <div class="team-member">
        <img src="assets/ab3.png" alt="Michael Brown" class="team-image">
        <div class="team-info">
            <h3>Michael Brown – Customer Service Lead</h3>
            <p>Michael and his team are committed to providing exceptional customer service. They are here to assist you with any inquiries and ensure a seamless shopping experience.</p>
        </div>
    </div>

    <h2>Get in Touch</h2>
    <p>Have questions or need assistance? Feel free to reach out to us at  or visit our <a href="/contact">Contact Page</a> for more information.</p>
</div>
