
.home-container {
  display: flex;
}

.side-menu {
  width: 200px;
  background-color: #f4f4f4;
  padding: 1rem;
  border-right: 1px solid #ddd;
}

.side-menu h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu ul li {
  margin-bottom: 0.5rem;
}

.side-menu ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}

.side-menu ul li a:hover {
  color: #007bff; 
}

.main-content {
  flex: 1;
  padding: 2rem;
}

.image {
  display: flex;
  justify-content: center; 
  align-items: center;     
  padding: 1rem;           
  background-color: #f4f4f4; 
  border-radius: 0.5rem;   
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.image img {
  max-width: 15%;        
  height: auto;           
  border-radius: 0.5rem;  
  transition: transform 0.3s ease-in-out; 
}

.image img:hover {
  transform: scale(1.05); 
}

/* Mobile Styles */
@media (max-width: 768px) {
  .home-container {
    flex-direction: column; 
  }

  .side-menu {
    width: 100%; 
    border-right: none; 
    border-bottom: 1px solid #ddd; 
  }

  .main-content {
    padding: 1rem; 
  }

  .image img {
    max-width: 100%; 
    height: auto;    
  }
}
